@inherits LayoutComponentBase

<div class="page">
    <main>
        <div class="top-row px-4">
            <h1>ESO Timers</h1>
            <a href="/about">About</a>
            <a href="/">Home</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>